body{
    background: rgb(0, 0, 0); /* could be img */
    font-weight: 400;
    font-style: normal;
    /* font-family quick copy :3
    font-family: "DotGothic16", sans-serif;
    font-family: "Jacquard 12 Charted", system-ui;
    font-family: "Jacquard 12", system-ui; 
    font-family: "Shizuru", system-ui;
    font-family: "Schoolbell", cursive;
    font-family: "Bytesized", sans-serif;*/
}

/* battle screen */
#game-container {
    display: none;
    position: absolute;
    z-index: 7;
    margin-top: -75px;
    margin-left: 10px;
    height: 99vh;
    width: 88vw;
    
    overflow: hidden;
    /* border: 5px solid #f278ab; */
    /* border-left-width: 20px; */
    /* border-right-width: 5px; */
    /* border-bottom-width: 10px; */
    /* border-radius: 20px; */
    /* border-inline-start-style: dashed; */
    /* background: #d7d7d7; */
    /* border-radius:50%;  */
    /* margin-right: 15px; */
   
}
#game-name-change{
    display: none;
    position: absolute;
}
.all-box{
    padding: 0px;
    margin: 0px;
    position: relative;
}
/* exclamatiom */
#exclamationP{
    display: none;
    position: absolute;
    z-index: 6; /*idk what index it should be*/
    left: 380px;
    top: 200px;
    width: 80px;

}
/* .chiikaBox{
    padding: 10px;
    
} */
/* Naming Virtual pet box */
#vPetNameDisplay{
    position: absolute;
    z-index: 6;
    font-size: 60px;
    font-family: "Jacquard 12", system-ui;
    font-weight: 400;
    color: rgb(127, 255, 227);
    margin-left: 420px;
    margin-top: -55px;
    display: none;
}
#inputBoxOnly{
    display: none;
}
.inputBox{
    z-index: 6;
    
    border-radius:48%; 
    position: absolute;
   
    background: #f7b4ee;
    /* border-radius: 10px; */
    margin-left: 285px;
    margin-top: 120px;
    /* padding-left: 100px; */
    width: 400px;
    height: 500px;
    border: 5px solid #f278ab;
}
.questionDisplay{
    z-index: 6;
    font-family: "DotGothic16", sans-serif;
    position: relative;
    display: flex;
    justify-content: center ;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    font-size: 25px;
    /* margin-left: 10px; */
}
#questionName{
    margin-top: 150px;
    
}
#vPetName{
    /* padding-left: 0px;
    /* padding-top:5px;
    padding-bottom:5px; */ 
    font-size: 30px;
    font-family: "Jacquard 12 Charted", system-ui;
    background: #3a4e48ee;
}
#submitName{
    margin-top: 50px;
    font-size: 20px;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #c9c9c9;
}
#chiikaBoxOnly{
    /* border: 4px solid #cecece; */
    background: #dddddd00;
    border-radius: 10px;
    margin-left: 200px;
    margin-top: 5%;
    width: 500px;
    height: 500px;   
    /* padding: 10px; */
    /* display: none; */
    position: relative;
}
#pet{
    position: absolute;
    left: 200px;
    top: 200px;
    width: 35%; 
}
#chain{
    position: absolute;
    left: -33px;
    top: -200px;
    max-width: 130%;
    z-index: -1;
}
.charmsani {
    animation: charmSway 5s infinite;
}

@keyframes charmSway {
    0% {transform: rotate(0deg);}
    25% {transform: rotate(10deg);}
    50% {transform: rotate(-10deg);}
    100% {transform: rotate(0deg);}
}
.charm1{
    position: absolute;
    left: 110px;
    top: -40px;
    max-width: 30%;
}
.charm2{
    position: absolute;
    left: 250px;
    top: -50px;
    max-width: 40%;
}
.charm3{
    position: absolute;
    left: 350px;
    top: -55px;
    max-width: 25%;
}
.buttons {
    position: absolute;
    max-width: 10%;
    height: auto;
    z-index: 4;
}
#awakeButton {
    left: 253px;
    top: 558px;
    max-width: 15%;
    /* border-radius: 50%;  to make circle border img*/
}
#interactButton {
    left: 264px;
    top: 479px;
    /* border-radius: 50%;  to make circle border img*/
}

#interactButton2 { /* happy btn */
    left: 191px;
    top: 510px;
    /* border-radius: 50%;  to make circle border img*/
}

#interactButton3 { /* sad btn */
    left: 338px;
    top: 509px;
    /* border-radius: 50%;  to make circle border img*/
}

#interactButton4 { /* play btn */
    left: 123px;
    top: 469px;
    /* border-radius: 50%;  to make circle border img*/
}

#interactButton5 { /* eat btn */
    left: 407px;
    top: 469px;
    /* border-radius: 50%;  to make circle border img*/
}

#tamagochiOff {
    z-index: -2;
    position: absolute;
    max-width: 600px;
    height: auto;
    top:0px;
    /* padding: 20px; */
    
    /* border-radius: 50%;  to make circle border img*/
}
#box{
    position: relative; 
}
.icons{
    z-index: 5;
    position: absolute;
    margin-left: 568px;
    margin-top: 20px;
    width: 55px;
}
#iconH{
    margin-top: 60px;
}
#iconS{
    margin-top: 105px;
}
#iconE{
    margin-top: 145px;
}
#playButton{
    /* color: rgb(127, 255, 227); */
    
    margin-left: 895px;
    margin-top: 80px; 
    /* display: none; */
}
.mindBox {
    position: absolute;
   
    /* background: #f7b4ee; */
    /* border-radius: 10px; */
    margin-left: 550px;
    margin-top: -60px;
    width: 400px;
    /* height: 200px;    */
    /* padding: 10px; */
    /* display: block; */
}
#mindBoxOnly{
    border-radius:50%; 
    z-index: -2;
    border: 5px solid #f278ab;

}
#dreamCanvas{
    position: absolute;
    border: none;
    background: #86aca095;
    margin-top: 10px;
    margin-left: 610px;
    width: 280px;
    height: 200px;
    border-radius:10%;
    display:block;
}
#screen {
    margin-left: 575px;
    margin-top: -40px;
    width: 250px;
    height: 100px; 
    /* z-index: 3; */
    /* display: block; */
}
#screenMind{
    z-index: 3; 
}
/* I dont think #awake cover is used */
#awakeCover{ 
    position: absolute;
    border: none;
    background: #86aca095;
    margin-top: 10px;
    margin-left: 610px;
    width: 280px;
    height: 200px;
    border-radius:10%;
    display: none; 
}
.bar{
    margin-top: 22px;
    width: 280px;
    height: 20px;
    
    background-color: grey;
}
#barSad, #barHappy, #barEat, #barPlay {
    height: 20px;
}
.barProgress{
    /* height: 30px; */
    background-color: #f278ab;
}
#barSadP, #barHappyP, #barEatP, #barPlayP {
    width: 1%;
    height: 20px;
}
#happyEnd{
    display: none;
    opacity: 0.6;
    z-index: 1;
    width: 280px;
    height: 200px;
    border-radius:10%;
    margin-top: 10px;
    margin-left: 610px;
}
#sadEnd{
    display: none;
    opacity: 0.5;
    z-index: 2;
    width: 280px;
    height: 200px;
    border-radius:10%;
    margin-top: 10px;
    margin-left: 610px;
}
#playEnd{
    display: none;
    opacity: 0.6;
    z-index: 1;
    width: 280px;
    height: 200px;
    border-radius:10%;
    margin-top: 10px;
    margin-left: 610px;
}
#sadPoem{
    display: none;
    position: absolute;
    z-index: 3;
    color:rgb(165, 185, 253);
    font-family: "Bytesized", sans-serif;
    font-weight: 400;
    font-size: 25px;
    margin-top: -70px;
    margin-left: 300px;
    /* from https://www.w3schools.com/howto/howto_css_disable_text_selection.asp#:~:text=You%20can%20use%20the%20user,be%20used%20to%20prevent%20this. */
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
#happyPoem{
    display: none;
    position: absolute;
    z-index: 3;
    color:rgb(252, 252, 252);
    /* font-family: "Bytesized", sans-serif;
    font-weight: 400; */
    font-size: 55px;
    margin-top: -80px;
    margin-left: -200px;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
#cake{
    display: none;
    position: absolute;
    z-index: 4;
    color:rgb(0, 0, 0);
    font-family: "DotGothic16", sans-serif;
    font-weight: 400;
    font-size: 50px;
    margin-top: 300px;
    margin-left: 600px;
    width: 600px;
}
.deathCount{
    z-index: 4;
    position: relative;
    color:rgb(127, 255, 227);
    font-family: "DotGothic16", sans-serif;
    font-weight: 400;
    font-size: 40px;
    margin-top: 10px;
    margin-left: 1500px;
    top: -600px;
    width:max-content;
}
/* artist statement thangs */
#statementboxButton{
    position: absolute;
    width: 40px;
    margin-top: -60px;
    opacity: 40%;
    
}
/* + command list */
#statementboxButton2{
    z-index: 10;
    position: absolute;
    width: 40px;
    margin-top: -20px;
    opacity: 30%;
    
}
#commandBoxOnly{
    display: none;
    height: 770px;
    margin-left: 50px;
}
#textCommand{
    font-size: 20px;
    margin-left: 200px;
    margin-right: auto;
}
#statementBoxOnly{
    display: none;
}
.statementBox{
    z-index: 10;
    border-radius:2%; 
    position: absolute;
    background: #f7b4ee98;
    /* border-radius: 10px; */
    margin-left: 50px;
    margin-top: -50px;
    /* padding-left: 100px; */
    width: 1500px;
    height: 3750px;
    border: 5px solid #f278ab;
    font-family: "DotGothic16", sans-serif;
    font-weight: 400;
    color: rgb(0, 0, 0);
    
    
}
h1{
    color: rgb(0, 0, 0);
    font-family: "Jacquard 12 Charted", system-ui;
    font-weight: 400;
    position: relative;
    display: flex;
    justify-content: center ;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 75px;
    margin-top: -10px;
}
h2{
/* margin-left: 250px; */
    /* color: rgb(127, 255, 206); */
    color: rgb(127, 255, 206);
    margin: 20px;
    font-family: "Jacquard 12", system-ui; 
    font-weight: 400;
    font-size: 35px;
    display: flex;
    justify-content: center ;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: -10px;
}
p{
    margin: 20px;
}
#title{
    margin-top: 20px;
    position: relative;
    display: flex;
    justify-content: center ;
    align-items: center;
    margin-left: auto ;
    margin-right: auto ;
    font-size: 60px;
    z-index: 8;
    font-family: "Shizuru", system-ui;
    font-weight: 400;
    color: rgb(127, 255, 206);
    /* background: rgba(127, 255, 206, 0.521);
    border-radius:50%;  */
}
#pawASCII{
    color: rgb(127, 255, 206);
    position: relative;
    display: flex;
    justify-content: center ;
    align-items: center;  
    font-size: 27px;
    margin-top: -130px;
}
#pawASCII2{
    color: rgb(127, 255, 206);
    position: relative;
    display: flex;
    justify-content: center ;
    align-items: center;  
    font-size: 30px;
    margin-top: -380px;
    left: 360px;
}
.gifEggbaby{
    position: relative;
    display: flex;
    justify-content: center ;
    align-items: center;  
    margin-left: auto ;
    margin-right: auto ;
    width: 200px;
    margin-top: 50px;
}
#water{
    padding-right: 600px;
    margin-top: -200px;
}
#fire{
    padding-left: 600px;
    margin-top: -200px;
}
 /* font-family: "Jacquard 12 Charted", system-ui;
    font-family: "Jacquard 12", system-ui; 
    font-family: "Shizuru", system-ui; */