body{
    background: rgb(197, 131, 152); /* could be img */

}
.all-box{
    padding: 0px;
    margin: 0px;
}
/* .chiikaBox{
    padding: 10px;
    
} */
#chiikaBoxOnly{
    border: 4px solid #cecece;
    background: #ddd;
    border-radius: 10px;
    margin-left: 100px;
    margin-top: 250px;
    width: 500px;
    height: 500px;   
    padding: 10px;
    /* display: none; */
}
#awakeButton {
    max-width: 10%;
    height: auto;
    
    /* border-radius: 50%;  to make circle border img*/
}
#mindBoxOnly {
    border: 4px solid #cecece;
    background: #ddd;
    border-radius: 10px;
    margin-left: 400px;
    margin-top: -250px;
    width: 300px;
    height: 300px;   
    padding: 10px;
    display: block;
}