body{
    background: rgb(0, 0, 0); /* could be img */
    font-weight: 400;
    font-style: normal;
    /* font-family quick copy :3
    font-family: "DotGothic16", sans-serif;
    font-family: "Jacquard 12 Charted", system-ui;
    font-family: "Jacquard 12", system-ui; 
    font-family: "Shizuru", system-ui;
    font-family: "Schoolbell", cursive;
    font-family: "Bytesized", sans-serif;*/
}
.all-box{
    padding: 0px;
    margin: 0px;
    position: relative;
}
/* .chiikaBox{
    padding: 10px;
    
} */
/* Naming Virtual pet box */
#vPetNameDisplay{
    position: absolute;
    z-index: 1;
    font-size: 60px;
    font-family: "Jacquard 12", system-ui;
    font-weight: 400;
    color: rgb(127, 255, 227);
    margin-left: 420px;
    margin-top: -55px;
    display: none;
}
#inputBoxOnly{
    display: none;
}
.inputBox{
    z-index: 2;
    border-radius:48%; 
    position: absolute;
   
    background: #f7b4ee;
    /* border-radius: 10px; */
    margin-left: 285px;
    margin-top: 120px;
    /* padding-left: 100px; */
    width: 400px;
    height: 500px;
    border: 5px solid #f278ab;
}
.questionDisplay{
    font-family: "DotGothic16", sans-serif;
    position: relative;
    display: flex;
    justify-content: center ;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    font-size: 25px;
    /* margin-left: 10px; */
}
#questionName{
    margin-top: 150px;
    
}
#vPetName{
    /* padding-left: 0px;
    /* padding-top:5px;
    padding-bottom:5px; */ 
    font-size: 30px;
    font-family: "Jacquard 12 Charted", system-ui;
    background: #3a4e48ee;
}
#submitName{
    margin-top: 50px;
    font-size: 20px;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #c9c9c9;
}
#chiikaBoxOnly{
    /* border: 4px solid #cecece; */
    background: #dddddd00;
    border-radius: 10px;
    margin-left: 200px;
    margin-top: 5%;
    width: 500px;
    height: 500px;   
    /* padding: 10px; */
    /* display: none; */
    position: relative;
}
#pet{
    position: absolute;
    left: 200px;
    top: 200px;
    width: 35%; 
}
#chain{
    position: absolute;
    left: -33px;
    top: -200px;
    max-width: 130%;
    z-index: -1;
}
.charmsani {
    animation: charmSway 5s infinite;
}

@keyframes charmSway {
    0% {transform: rotate(0deg);}
    25% {transform: rotate(10deg);}
    50% {transform: rotate(-10deg);}
    100% {transform: rotate(0deg);}
}
.charm1{
    position: absolute;
    left: 110px;
    top: -40px;
    max-width: 30%;
}
.charm2{
    position: absolute;
    left: 250px;
    top: -50px;
    max-width: 40%;
}
.charm3{
    position: absolute;
    left: 350px;
    top: -55px;
    max-width: 25%;
}
.buttons {
    position: absolute;
    max-width: 10%;
    height: auto;
}
#awakeButton {
    left: 253px;
    top: 558px;
    max-width: 15%;
    /* border-radius: 50%;  to make circle border img*/
}
#interactButton {
    left: 264px;
    top: 479px;
    /* border-radius: 50%;  to make circle border img*/
}

#interactButton2 { /* happy btn */
    left: 191px;
    top: 510px;
    /* border-radius: 50%;  to make circle border img*/
}

#interactButton3 { /* sad btn */
    left: 338px;
    top: 509px;
    /* border-radius: 50%;  to make circle border img*/
}

#interactButton4 { /* play btn */
    left: 123px;
    top: 469px;
    /* border-radius: 50%;  to make circle border img*/
}

#interactButton5 { /* eat btn */
    left: 407px;
    top: 469px;
    /* border-radius: 50%;  to make circle border img*/
}

#tamagochiOff {
    z-index: -2;
    position: absolute;
    max-width: 600px;
    height: auto;
    top:0px;
    /* padding: 20px; */
    
    /* border-radius: 50%;  to make circle border img*/
}
.mindBox {
    position: absolute;
   
    /* background: #f7b4ee; */
    /* border-radius: 10px; */
    margin-left: 550px;
    margin-top: -60px;
    width: 400px;
    /* height: 200px;    */
    /* padding: 10px; */
    /* display: block; */
}
#mindBoxOnly{
    border-radius:50%; 
    z-index: -2;
    border: 5px solid #f278ab;

}
#dreamCanvas{
    position: absolute;
    border: none;
    background: #86aca095;
    margin-top: 10px;
    margin-left: 610px;
    width: 280px;
    height: 200px;
    border-radius:10%;
    display:block;
}
#screen {
    margin-left: 575px;
    margin-top: -40px;
    width: 250px;
    height: 100px; 
    /* display: block; */
}
#awakeCover{
    position: absolute;
    border: none;
    background: #86aca095;
    margin-top: 10px;
    margin-left: 610px;
    width: 280px;
    height: 200px;
    border-radius:10%;
    display: none; 
}
.bar{
    margin-top: 22px;
    width: 280px;
    height: 20px;
    
    background-color: grey;
}
#barSad, #barHappy, #barEat, #barPlay {
    height: 20px;
}
.barProgress{
    /* height: 30px; */
    background-color: #f278ab;
}
#barSadP, #barHappyP, #barEatP, #barPlayP {
    width: 1%;
    height: 20px;
}
#happyEnd{
    display: none;
    width: 280px;
    height: 200px;
    border-radius:10%;
    margin-top: 10px;
    margin-left: 610px;
}
#sadEnd{
    display: none;
    z-index: 1;
    width: 280px;
    height: 200px;
    border-radius:10%;
    margin-top: 10px;
    margin-left: 610px;
}
#playEnd{
    display: none;
    z-index: 1;
    width: 280px;
    height: 200px;
    border-radius:10%;
    margin-top: 10px;
    margin-left: 610px;
}
#sadPoem{
    display: none;
    position: absolute;
    z-index: 4;
    color:rgb(165, 185, 253);
    font-family: "Bytesized", sans-serif;
    font-weight: 400;
    font-size: 25px;
    margin-top: -70px;
    margin-left: 300px;
}
#happyPoem{
    display: none;
    position: absolute;
    z-index: 4;
    color:rgb(252, 252, 252);
    /* font-family: "Bytesized", sans-serif;
    font-weight: 400; */
    font-size: 55px;
    margin-top: -80px;
    margin-left: -200px;
}
#cake{
    display: none;
    position: absolute;
    z-index: 4;
    color:rgb(0, 0, 0);
    font-family: "DotGothic16", sans-serif;
    font-weight: 400;
    font-size: 50px;
    margin-top: 300px;
    margin-left: 600px;
    width: 600px;
}
.deathCount{
    z-index: 4;
    position: relative;
    color:rgb(255, 255, 255);
    font-family: "DotGothic16", sans-serif;
    font-weight: 400;
    font-size: 50px;
    margin-top: -10px;
    margin-left: 1500px;
    top: -600px;
}