body{
    background: rgb(253, 181, 204); /* could be img */

}
.all-box{
    padding: 10px;
}
/* .chiikaBox{
    
} */
#chiikaBoxOnly{
    background: lightgray;
    margin-left: 100px;
    margin-top: 200px;
    width: 500px;
    height: 500px;
    
}
#awakebutton{
    position: relative;
    height: 20px;
    width: 20px;
}